html{
  overflow-y: scroll;
}
body{
  font-size: 16px;
  background-color: #dff1f0;
  font-family:'Times New Roman', Times, serif"
  }

.header-container{
  border-bottom: 2px solid #684640;}

.logo-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('../ASSET/IMG/LOGO/browntxt.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;}

.logo-img:hover {
  background-image: url('../ASSET/IMG/LOGO/brownbg.png');}

.header-container{
  border-bottom: 2px solid #684640;}

.logo-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('../ASSET/IMG/LOGO/browntxt.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;}

.logo-img:hover {
  background-image: url('../ASSET/IMG/LOGO/brownbg.png');}

.h1{
  font-family: Monomakh;
  color:#dff1f0;
  font-size: 24px;
  text-shadow: 1px 1px 0 #684640;}

.h1:hover{
color: #ffffff;
text-shadow: 1px 1px 0 #684640;}

.bg-babyblue{
  background-color: #0F828A;}
.bg-brown{
  background-color: #684640;}
.bg-lightblue{
background-color: #dff1f0;}
.bg-cyan{
background-color:#14a6b0 ;}
.txt-babyblue{
  font-family: Monomakh;
color: #0F828A;}
.txt-brown{
  color: #684640;
  font-family:}
.txt-lightblue{
  color: #dff1f0;}
  
.underline {
  width: 395px;
  height: 4px;
  background-color: #0F828A; 
  border: none;
  margin-top: 0.5rem;
  margin-left: 0;
}
.nav-item a{
  color: #dff1f0;
  font-size: 1.3rem;
  font-family: Monomakh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: auto;
  text-shadow:1px 1px 0 #684640 ;}

.nav-item a:hover{
  color: #ffffff ;
  text-shadow: 1px 1px 0 #684640;}

.landingpage{
  background-color: #dff1f0;}


.btn-brown{
  background-color: #ffffff;
  color: #684640;
  border-color: #684640;}

.btn-babyblue{
background-color: white;
color: #0F828A;
border-color: #0F828A;
}

.btn-brown:hover{
background-color: #684640;
color: white; }


.btn-babyblue:hover{
background-color: #0F828A;
color: white;
}

.school-box{
border: 2px solid #684640 !important;
background-color: #0F828A;
color: #684640;
}

h5{
color: white;
text-shadow: 1px 1px 0px #684640;
font-family: Monomakh ;
font-size: 20px;
}

h3{
color: #dff1f0;
text-shadow: 1px 1px 0px #684640;
font-family: Monomakh;
font-size: 30px;
}

h4{



}


.img-schoollogo{
width: 300px;
height: 300px;
}

.card-title{
color: #684640;
font-family: Monomakh;
font-size: 20px;
text-decoration:underline;
}

.card img {
  width: 300px;
  height: 300px;
}

.card-text{
font-size: 16px;

}

.form-label{
font-family: Monomakh;
text-shadow: #684640;
color: #dff1f0;
font-size: 20px;
}

.project-card {
  overflow: hidden;
}

.project-card img {
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05); /* zoom effect */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px;
  font-size: 0.85rem; /* smaller text */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

