html{
  overflow-y: scroll;
}
body{
  font-size: 12px;
  background-color: #dff1f0;
  font-family:'Times New Roman', Times, serif"
  }
.header-container{
  border-bottom: 2px solid #684640;}

.logo-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('../ASSET/IMG/LOGO/browntxt.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;}

.logo-img:hover {
  background-image: url('../ASSET/IMG/LOGO/brownbg.png');}

.header-container{
  border-bottom: 2px solid #684640;}

.logo-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('../ASSET/IMG/LOGO/browntxt.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;}

.logo-img:hover {
  background-image: url('../ASSET/IMG/LOGO/brownbg.png');}

.h1{
  font-family: Monomakh;
  color:#dff1f0;
  font-size: 1.7rem;
  text-shadow: 1px 1px 0 #684640;}

.h1:hover{
color: #684640;
text-shadow: 1px 1px 0 #dff1f0;}

.bg-babyblue{
  background-color:#99cef0 ;}
.bg-brown{
  background-color: #684640;}
.bg-lightblue{
background-color: #dff1f0;}
.bg-cyan{
background-color:#14a6b0 ;}
.txt-babyblue{
  font-family: Monomakh;
color: #99cef0;}
.txt-brown{
  color: #684640;
  font-family:}
.txt-lightblue{
  color: #dff1f0;}
  
.underline {
  width: 395px;
  height: 4px;
  background-color: #89CFF0; /* or your baby blue */
  border: none;
  margin-top: 0.5rem;
  margin-left: 0;
}
.nav-item a{
  color: #dff1f0;
  font-size: 1.3rem;
  font-family: Monomakh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: auto;
  text-shadow:1px 1px 0 #684640 ;}

.nav-item a:hover{
  color: #684640 ;
  text-shadow: 1px 1px 0 #dff1f0;}

.landingpage{
  background-color: #dff1f0;}


.btn-brown{
background-color: #684640;
color: white !important;}

.btn-brown:hover{
  background-color: #99cef0;
  border-color: #dff1f0;
  transform:  translate(-3px);
}
.school-box{
border: 2px solid #684640 !important;
}

h5{
color: white;
text-shadow: 1px 1px 0px #684640;
font-family: Monomakh ;
font-size: 1.3rem;
}


.school-box{
color: #684640;
}

.card-title{
color: #684640;
font-family: Monomakh;
font-size: 1.5rem;
}


.card img {
  width: 300px;
  height: 300px;

}