body{
  font-size: 12px;
  background-color: #99cef0;
  margin: 0;
}

.header-container{
  border-bottom: 4px solid #684640;
  padding-bottom: 0px;
  margin-bottom:  30px;
}

.logo-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('../ASSET/IMG/LOGO/browntxt.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}

.logo-img:hover {
  background-image: url('../ASSET/IMG/LOGO/brownbg.png');
}

.h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#dff1f0;
  font-size: 2.0rem;
  line-height: 1.2;
  left: 10px;
}


.bg-teal{
  background-color:#14a6b0 ;
}

.nav-item a{
  color: #dff1f0;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: auto;
}

.nav-item a:hover{
  color:#684640 ;
}

.line-under-header{
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-top: 10px;}
