
.logo{
  width: 125px;
  height: 125px;
  background-image: url(../ASSET/IMG/LOGO/browntxt.png);
  background-size: contain;
  background-repeat: no-repeat;
  position:fixed;
  top: 20px;
  left: 100px;
}

.logo:hover{
  background-image: url(../ASSET/IMG/LOGO/brownbg.png);
}

.bg-lightblue{
background-color: #99CEF0

}

.bg-teal{
background-color:#14A6B0;


}
.text-headerlightblue{ color: #DFF1F0; }
.link-hover-brown:hover { color: #684640; }
.bg-cyan { background-color: #DFF1F0; }