
.logo{
  width: 125px;
  height: 125px;
  background-image: url(../ASSET/IMG/LOGO/browntxt.png);
  background-size: contain;
  background-repeat: no-repeat;
  position:fixed;
  top: 20px;
  left: 100px;
}

.logo:hover{
  background-image: url(../ASSET/IMG/LOGO/brownbg.png);
}

h1{
font-family:Arial, Helvetica, sans-serif;
color: #DFF1F0;
font-size: 2.5em;
position: fixed;
left: 250px;
}

body{
background-color:#99CEF0;
}

nav ul{
list-style: none;
display: flex;
justify-content: flex-end;
gap: 40px;
padding: 0;
margin-top: 10px;
margin-right: 100px;}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: #DFF1F0;
font-size: 1.8em;
}

a:hover{
color: #684640;
}



